.registr {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 500px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  color: var(--c-4-c-4-c-4, #c4c4c4);
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.links a {
  text-decoration: none;
  color: var(--primary-hover-color);
}
